[defaults]
# Désactive la vérification stricte de la clé hôte
host_key_checking = False
# Indique le chemin par défaut de ton inventaire pour éviter de le spécifier à chaque commande
inventory = inventories/setup.yml